    <div class="w3-large w3-margin-bottom">
    <i class="fa fa-facebook-official a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Facebook: Kent Claire Pallomina<br>
    <i class="fa fa-instagram a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Instagram: keysi060801<br>
    <i class="fa fa-snapchat a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Snapchat: k_pallomina2019<br>
    <i class="fa fa-twitter a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Twitter: klaireJ44247897<br>
    </div>
    