<div class="bottom">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="Contact">
        <div class="w3-content w3-container w3-padding-64" id="contact">
            <h1 class="w3-center"><b>HOW TO CONTACT ME?</b></h1>  
            <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-large w3-margin-bottom">
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Sitio Bonol Barangay Binongtoan Alangalang, Leyte<br>
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: 09611799458<br>
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: kentclaireapplejoy.pallomina@evsu.edu.ph<br>
            <i class="fa fa-facebook-official a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Facebook: Kent Claire Pallomina<br>
            <i class="fa fa-instagram a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Instagram: keysi060801<br>
            <i class="fa fa-snapchat a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Snapchat: k_pallomina2019<br>
            <i class="fa fa-twitter a-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Twitter: klaireJ44247897<br>
          </div>
    </div>
    